*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

html{
    font-size: 62.5%; /*Deixando a fonte 10px */
}

body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(-45deg, #050404, #2e1c2b, #4a1942, #893168);
    background-size: 400% 400%;
    animation: backgroundTransition 8s ease-in-out infinite;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-family: cursive;
    background-color: rgb(20, 20, 20);
    padding: 1rem;
}

header h2{
    color: #ffffff;
}

header a{
    border-radius: 50%;
    background-color: #d80c2e;
    width: 3rem;
    height: 3rem;
}

header i{
    color: black;
    margin-top: 0.5rem;
    margin-left: 0.3rem;
}

.btn-pesq {
    margin: 0 100;
    border-radius: 2.5rem;
}

#wrapper{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#btn{
    border-radius: 8px;
    height: 3.5rem;
    width: 12rem;
    padding: 1rem;
    border: none;
    background-color: #6e109e;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin-right: 5rem;
}

#btn:hover{
    background-color: #2e1c2b;
}

.search{
    height: 3.5rem;
    width: 20rem;
    border-radius: 8px;
    border: none;
    text-align: center;
    margin-right: 2rem;
    background-color: rgb(255, 255, 255);
}

#btn-icon{
    height: 3.5rem;
    width: 3.5rem;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

a{
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 135px;
}

li {
    width: 120rem;
    margin-bottom: 10px;
    background-color: #4B0082;
    font-size: 150%;
    display: flex;
    align-items: center;
    height: 5rem;
    border-radius: 0.5rem;
}

.id-content {
    width: 2rem;
    margin-right: 2rem;
    border-radius: 8px;
    text-align: center;
    border: none;
    font-size: 1.5rem;
    margin-left: 0.9rem;
}

.name-user {
    margin-right: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #50008a;
    color: #ffff;
    font-size: 1.7rem;
    width: 12rem;
}

.email-user {
    width: 185rem;
    margin-right: 1rem;
    border-radius: 5px;
    background-color: #50008a;
    border: none;
    color: #ffff;
    font-size: 1.7rem;
}

.cargo-user {
    margin-right: 1rem;
    border: none;
    background-color: #50008a;
    color: #ffff;
    font-size: 1.7rem;
}

.salario-user {
    width: 12rem;
    margin-right: 1rem;
    border: none;
    background-color: #50008a;
    color: #ffff;
    font-size: 1.7rem;
}

.setor-user {
    width: 200rem;
    margin-right: 1rem;
    border: none;
    background-color: #50008a;
    color: #ffff;
    font-size: 1.7rem;
}

.senha-user {
    width: 10rem;
    margin-right: 1rem;
    border: none;
    background-color: #50008a;
    color: #ffff;
    font-size: 1.7rem;
}

.btn-delete {
    margin-right: 1rem;
    border: none;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    color: #ffffff;
}

.btn-update {
    margin-right: 1rem;
    border: none;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    color: #ffffff;
}

.img-user {
    width: 37%;
    margin-right: 1rem;
    background-color: transparent;
    border-radius: 3rem;
}
  
/* .img-user img  {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
  
.img-user:hover img  {
    -moz-transform: scale(5.1);
    -webkit-transform: scale(5.1);
    transform: scale(5.1);
} */


@keyframes backgroundTransition{
    0%{
        background-position: 0% 80%;
    }

    50%{
        background-position: 80% 100%;
    }

    100%{
        background-position: 0% 90%;
    }
}